@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

main {
  font-size: 100px;
  color: "#141313";
  text-align: center;
  font-family: "Myriad Pro";
  width: 100%;
  min-height: 100%;
}

section {
  height: 100vh;
}
#intro {
  /* background-image: url("https://uploads.tapatalk-cdn.com/20180126/8d4a188d395af857d1e5a65f6f6cb0a7.jpg"); */
  background-image: url("https://elseed-art.com/wp-content/uploads/2018/04/ELSEED-LORES.jpg");
  background-size:  auto;
  background-repeat: repeat-x;
  opacity: 0.8;
  /* margin: -100; */
  background-position: -10px -10px;
  position: relative;
  margin-top: -100;
  z-index: -3;
}

section:nth-child(1) {
  padding-left: 80px;
  width: 100%;
  position: absolute;
  
}

section:nth-child(2) {
  padding-left: 80px;
  padding-right: 80px;
}
section:nth-child(3) {
  padding-left: 80px;
  padding-right: 80px;
}
section:nth-child(4) {
  padding-left: 80px;
  padding-right: 80px;
}

section:nth-child(5) {
  padding-left: 80px;
  padding-right: 80px;
}


h6{
  margin:0;
  padding:0;
  font-weight: lighter;
  position:absolute;  
  right:350px; 
  text-align: left;
}

h1{
  margin:0;
  padding:0;
  font-weight: lighter;
  text-align: left;
}

header{
  font-size: 45px;
  color: 	#606060;
  font-family: 'Droid Arabic Kufi';
  padding-left: 80px;
}


figure {
  position: absolute;
  font-size: 50px;
  color: "#141313";
  font-family: 'Droid Arabic Kufi';
  top: 20;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-column-break-inside: avoid; 
  height: auto;
}

#left_img{
  position: sticky;
  grid-area: a;
  opacity: 70%;
  visibility: hidden;
}

#left_img #Bournaz {
  margin: 5px auto;
  display: block;
}

#right_img{
  position: sticky;
  grid-area: c;
  opacity: 70%;
  visibility: hidden;
}

#right_img #Bournaz {
  margin: 5px auto;
  display: block;
}

#grid {
  display: grid;
  margin-left: -100px;
  grid-template-columns: 50px auto 50px;
  grid-gap: 0px; 
  color: #444;
  top: 200px;
  grid-template-areas: 
  "a b c"
}


#writers {

  text-transform: capitalize;
  border-spacing:0 50px;
  color:"#141313";
  columns: 6;
  column-gap:0px;
  padding: 0px;
  /* animation: 10s fadeIn;
  animation-delay: 20s;
  animation-fill-mode: forwards; */
  font-family: 'Droid Arabic Kufi';
  grid-area: b;
}


#collage-1 {
  line-height: 0;
  -webkit-column-count: 10;
  -webkit-column-gap:   0px;
  -moz-column-count:    10;
  -moz-column-gap:      0px;
  column-count:         10;
  column-gap:           0px;  
  width: 100%;
  height: 60%;
  margin-left: -100px;
  border: 2px solid;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#Nawal {
  width: 100%;
  height: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    /* opacity: 0.9; */
  }
}

.name{
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.cell{
  -webkit-column-break-inside: avoid;  
   display:inline-block; 
  border:0.5px solid lightgray;
  font-family: 'Raleway', sans-serif;
  color: #606060;
}

.name_arabic{
  height: auto;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color:"#141313";
   border-bottom: lightgray;
}

.step {
  /* margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1); */
  font-size: 35px;
  color: 	#606060;
  text-align: left;
  font-family: 'Droid Arabic Kufi';
  font-weight: lighter;
  border-bottom: lightgray;
  line-height: 0.95;
  padding-left: 80px;
  padding-right: 80px;
  width: 80%;
}
