@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

br {
  display: block; 
  content: ""; 
  margin-top: 50px;
}

main {
  justify-content: center;
  font-size: 50px;
  color: "#141313";
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  /* "Garamond", sans-serif */
  min-height: 100%;
  position: relative;
  margin:0 auto;
  margin-right: auto;
  margin-left: auto;
  }

section {
  height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:  600px;
  height: 100px;
}
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #e3ced3;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
    /* // box-shadow: 0 0 25px 0 crimson; */
    .search:hover {
      cursor: pointer;
    }
    .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }

  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background:#e3ced3;
    color: white;
    text-shadow: 0 0 10px #e3ced3;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #e3ced3,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    /* // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
    input:hover {
      cursor: pointer;
    }
    input:focus {
      width: 600px;
      opacity: 1;
      cursor: text;
    }
    input:focus ~ .search {
      right: -250px;
      background: #e3ced3;
      z-index: 6;
    }
      input::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      input::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    
    input::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }


#intro {
  top: 0;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  margin:0 auto;
  margin-right: auto;
  width: 80%;
  margin-left: auto;
}

/* section:nth-child(1) {
  width: 100%;
  position: absolute;
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: auto;
  margin-left: auto;
} */


h6{
  margin:0;
  padding:0;
  font-weight: lighter;
  position:absolute;  
  right:350px; 
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

h1{
  margin:0;
  padding:0;
  font-weight: lighter;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

header{
  font-size: 20px;
  color: #e3ced3;
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: auto;
  margin-left: auto;
}

#second{
  position: absolute;
}

#writers {
  text-transform: capitalize;
  position: relative;
  border-spacing:0 50px;
  color:"#141313";
  columns: 4;
  column-gap:0px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgba(158, 47, 40, 0);
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  float: right;
}


#info {
  position: sticky;
  position: -webkit-sticky;
  width: 25%;
  top: 5%;
  bottom: 5%;
  margin-left: 10px;
  font-family: "Garamond", sans-serif;
  float: left;
  border:2px solid rgb(68, 13, 13);
  color: rgb(68, 13, 13);
  font-weight: bold;
  border-radius: 15px;
  -moz-border-radius: 15px;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTNV3x7wjlPtS5VmGUIHqZ3bXae7MemkkOq6L7PwiAwrZT49Vc&usqp=CAU"); */
}

#info:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    opacity:0.08;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTNV3x7wjlPtS5VmGUIHqZ3bXae7MemkkOq6L7PwiAwrZT49Vc&usqp=CAU");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}


#collage-1 {
  line-height: 0;
  -webkit-column-count: 10;
  -webkit-column-gap:   0px;
  -moz-column-count:    10;
  -moz-column-gap:      0px;
  column-count:         10;
  column-gap:           0px;  
  width: 99%;
  height: 60%;
  border: 2px solid;
  border-radius: 15px;
  margin:0 auto;
  -moz-border-radius: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: auto;
  margin-left: 0;
}

#Nawal {
  width: 100%;
  height: 50%;
}


.name{
  height: auto;
  font-family: 'IBM Plex Sans', sans-serif;
}

.cell{
  -webkit-column-break-inside: avoid;  
   display:inline-block; 
  border:0.5px solid lightgray;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #e3ced3;
  background-color: rgba(158, 47, 40, .8);
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.name_arabic{
  height: auto;
  font-family: "IBM Plex Sans", sans-serif;
}


.step {
  /* margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1); */
  font-size: 35px;
  color: 	#e3ced3;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: lighter;
  border-bottom: lightgray;
  line-height: 0.95;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  padding-right: -10;
  width: 80%;
}

.margin {
  height: 300px;
  margin: 0 15%;
}

*:focus {
  outline: none;
}

.inputGroup {
  position: relative;
  height: 50px;
}

.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 10px;
  font-family: Trebuchet MS;
  color: rgb(68, 13, 13);
  font-weight: bold;
  text-transform: uppercase;
}

.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #757575;
  left: 25px;
  padding: 5px;
  font-family: Trebuchet MS;
  background: none;
  color: #ccc;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 13px;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
  width: 50%;
}

.inputGroup textarea {
  height: 20px;
  width: 280px;
  overflow: auto;
  resize: none;
}

.inputGroup .inputBar {
  position: relative;
  display: block;
  width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: white;
  height: 2px;
  transition: all 0.2s ease;
}

.inputGroup .inputBar:after {
  right: 50%;
}

.inputGroup .inputBar:before {
  left: 50%;
}

button {
  background-color: white;
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 290px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 6px #a1a1a1;
  position: relative;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px #a1a1a1;
  top: 2px;
}

button:active {
  top: 6px;
  box-shadow: 0 0;
}

